<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <style> 
        .hover_zoom { 
            width: 100%;
            height: 100%;
            overflow: hidden; 
            margin: 0 auto; 
/*           margin: 0; */
        } 
      
        .hover_zoom img { 
            transition: 1.0s all ease-in-out;
        } 
      
        .hover_zoom:hover img { 
            transform: scale(3.0); 
        } 
    </style> 
    
   
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  
  
 
<!---------------- header ------------------->
<body>
    
    <div id="header">
      <div class="row">
      
      <div class="column3">
        <div style="text-align:center;">
          <img src="tjgwilson.github.io/Exeter_logo.png" alt="Exeter" style="height:5em;padding-top:1em;">
        </div>
      </div>
      <div class="column2">
        <h1> The Enigma of Hydrogen Emission in T Tauri Stars </h1>
      </div>
        
      </div>
    </div>
  
<!------------------------------------------------------ main -------------------------------------------------------------------------->
    <main id="content" class="main-content" role="main">
      
<!---------------- pdf poster ------------------->
      <div class="row">
          <div style="text-align: center; padding-top: 0em;">
            <a href="tjgwilson.github.io/coolStars_tjgwilson.pdf"><button class="btn btn-1 btn-1c">PDF Poster</button></a>
          </div>      
      </div>
      
<!----------------summary & contacts ------------------->
      <div class="ex1" style="padding-bottom: 5rem;"></div> 
      
      <div class="ex1">
        <div class="row" style="padding-top: 5rem;">
          
          <div class="column3">
            <div class="ex2" style="text-align:center">
              <h1>Tom J. G. Wilson</h1>
              <div style="padding: 0em 0em 0.7em;">
                <p style="font-size: 1.1em;font-weight: bold;"> <a href="mailto:tjgw201@exeter.ac.uk">tjgw201@exeter.ac.uk</a></p>
                <a href="https://twitter.com/TomAstroWilson" class="twitter-follow-button" data-lang="en" data-show-count="false">Follow @TomAstroWilson</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
              <p style="font-size: 1.3em; font-weight: bold;"> 
              Sean Matt,</br>
              Tim J. Harries, </br>
              Greg J. Herczeg</p>
             
              <div style="text-align: center; padding-top: 0.5em;">
                <a href="http://empslocal.ex.ac.uk/AWESoMeStars/"><img src="tjgwilson.github.io/logowhitetrans.png" alt="AWESoMeStars" style="height: 6em;"></a>
              </div>
            </div>
          </div>
          
          <div class="column2" style="text-align:center">
            <h1>Summary</h1>
            <ul>
              <li>CTTSs are known for their hydrogen emission lines, magnetospheric accretion and mass outflow<a href="#fohla">[1]</a>.</li></br>
              <li>By comparing synthetic hydrogen profiles from the RT code TORUS<a href="#torus">[2]</a> with observations of CTTSs, we aim to constrain and provide insight into the physics.</li></br>
              <li>Our initial parameter study indicates that the existing line broadening mechanisms are insufficient to account for the observed hydrogen emission.</li></br>
            </ul>
          </div>
        </div>
      </div>

  <!---------------- Radiative Transfer -------------------> 
      <div class="row" style="padding-top: 5rem;">
        
        <div class="column">
          <div id="hover" class="hover_zoom">
            <div class="container">
              <img id="IDmodel" src="tjgwilson.github.io/visit_lightBackgroundDisk0002.png" alt="Model" style="width:100%;">
              <div id="IDwind" class="wind">Stellar wind</div>
              <div id="IDstar" class="star">Star</div>
              <div id="IDaccretion" class="accretion">Accretion</br>funnel</div>
            </div>
          </div>  
       </div>  

      <div class="column fade-in">
        <h1 style="text-align:center;"> Radiative Transfer Model </h1>
        <div style="width:100%;padding: 1em 2em 1em;text-align:center;">
          <button onclick="showText('torusText');showText('IDwind');showText('IDstar');showText('IDaccretion');imgZoom('IDmodel');showText('model');hideText('torus');" class="btn btn-1 btn-1c">Model</button>
          <button onclick="showText('torusText');showText('torus');hideText('model');imgZoomOut('IDmodel');hideText('IDwind');hideText('IDstar');hideText('IDaccretion');" class="btn btn-1 btn-1c">Torus</button>
        </div>
        
        <div id ="torusText" style="display:block;width:100%;float:left;text-align:center;padding-top:4em;">
          <p>Synthetic line profile computed using the radiative transfer code <b><a href="https://www.astro.ex.ac.uk/people/th2/torus_html/homepage.html">TORUS</a></b>.</p>
          </div>
        
        
        <div id ="model" style="display: none;width:100%;float:left;text-align:center;">
           <div class="flow fade-in" style="-webkit-animation-delay: 0s;-moz-animation-delay: 0s;animation-delay: 0s;">
            <div class="flowHeader"><p style="font-weight:bold;">Star</p></div>
            <img src="tjgwilson.github.io/eq1.png" alt="eq.1" style="height:1em;padding-top:3px;"></br>
            <img src="tjgwilson.github.io/eq2.png" alt="eq.2" style="height:1em;padding-top:3px;"></br>
            <img src="tjgwilson.github.io/eq3.png" alt="eq.3" style="height:1em;padding-top:3px;">
          </div></br>
          <div class="flow fade-in" style="-webkit-animation-delay: 0.1s;-moz-animation-delay: 0.1s;animation-delay: 0.1s;">
            <div class="flowHeader"><p style="font-weight:bold;">Accretion Funnel</p></div>
            <img src="tjgwilson.github.io/eq4.png" alt="eq.4" style="height:2.5em;padding-top:3px;"></br>
            <img src="tjgwilson.github.io/eq5.png" alt="eq.5" style="height:1em;padding-top:3px;"></br>
            <img src="tjgwilson.github.io/eq6.png" alt="eq.6" style="height:1.1em;padding-top:3px;"></br>
            <img src="tjgwilson.github.io/eq7.png" alt="eq.7" style="height:1em;padding-top:3px;">                                                                     
          </div></br>
          <div class="flow fade-in" style="-webkit-animation-delay: 0.2s;-moz-animation-delay: 0.2s;animation-delay: 0.2s;">
            <div class="flowHeader"><p style="font-weight:bold;">Stellar Wind</p></div>
            <img src="tjgwilson.github.io/eq8.png" alt="eq.8" style="height:1.1em;padding-top:3px;"></br>
            <img src="tjgwilson.github.io/eq9.png" alt="eq.9" style="height:1em;padding-top:3px;">  
          </div>                                                      
        </div>

        <div id ="torus" style="display: none;width:100%;text-align:center;">
          <p style="font-size: 1.3em; font-weight: bold; text-align:center;"> Torus Workflow</p>
          <div class="flow fade-in" style="-webkit-animation-delay: 0s;-moz-animation-delay: 0s;animation-delay: 0s;">
            <div class="flowHeader"><p style="font-weight:bold;">Input</p></div>
            <p>Analytic Model</p>
          </div></br>
          <div class="flow fade-in" style="-webkit-animation-delay: 0.1s;-moz-animation-delay: 0.1s;animation-delay: 0.1s;">
            <div class="flowHeader"><p style="font-weight:bold;">Grid</p></div>
            <p>2.5D with adaptive mesh refinement</p>
          </div></br>
          <div class="flow fade-in" style="-webkit-animation-delay: 0.2s;-moz-animation-delay: 0.2s;animation-delay: 0.2s;">
            <div class="flowHeader"><p style="font-weight:bold;">Microphysics</p></div>
            <p>Atomic statistical equilibrium calculated for non-LTE. Sobolev with exact integration and pressure broadening</p>
          </div></br>
          <div class="flow fade-in" style="-webkit-animation-delay: 0.3s;-moz-animation-delay: 0.3s;animation-delay: 0.3s;">
            <div class="flowHeader"><p style="font-weight:bold;">Final RT</p></div>
            <p>Co-moving frame ray-tracing</p>
          </div></br>
          <div class="flow fade-in" style="-webkit-animation-delay: 0.4s;-moz-animation-delay: 0.4s;animation-delay: 0.4s;">
            <div class="flowHeader"><p style="font-weight:bold;">Output</p></div>
            <p>Line spectrum</p>
          </div>
        </div>
      </div>
    </div>
       
<!---------------- Observations ------------------->
      <div class="ex1"></div> 
                                                                                             
      <div class="row" style="padding-top: 5rem;">
        <div class="column">
          <h1 style="text-align:center;"> Observations </h1>
          
           <div style="width:100%;padding: 1em 2em 1em;text-align:center;">
            <button id="obsBtn" onclick="showHideImg('reipurth','targets'); change('obsBtn'); showHideImg('reipurthInfo','lineInfo');" class="btn btn-1 btn-1c fade-in">PROFILES</button>
<!--             <button onclick="showHideImg('targets','reipurth')" class="btn btn-1 btn-1c">Reipurth Class</button> -->
           </div>
          
          <ul class="fade-in" id="lineInfo" style="padding-top:3em;">
          <li>The Figure shows line profiles for 29 T Tauri stars (columns) from the ESO Archive<a href="#eso">[3]</a>, selected to have an accretion rate range of
            10<sup>4</sup>.The stars are ordered by H⍺ peak intensity</li></br>
        
            <li>High resolution: R~1100 (infrared) and R~1800 (optical) spectra from VLT’s X-Shooter, observed in Jan 2010.</li> </br>
            
            <li>Near simultaneous observations of H⍺ (top), Paβ (middle), and Br𝛄 (bottom). The x-axis is velocity with a range of 600 to −600 kms<sup>-1</sup>.</li></br>
            <li>A strong correlation of shape and intensity is seen between the infrared lines, but not between H⍺ and the infrared observations.</li>
          </ul>

        <ul class="fade-in" id="reipurthInfo" style="display: none;text-align:center;padding:7em 0em 5em;">
          <li> Reipurth classification for the X-Shooter line profiles.</li>
        </ul>

        </div>
        <div class="column">
          <img class="fade-in" id="reipurth" src="tjgwilson.github.io/reipurth_poster.png" alt="reipurth Class" style="display:none;width:100%;">
          <img class="fade-in" id="targets" src="tjgwilson.github.io/herczegStars_poster.png" alt="reipurth Class" style="width:100%;">
        </div>
      </div>
 <!---------------- Comparison ------------------->
      <div class="ex1"></div> 
                      
       <div class="row" style="padding-top: 5rem;">
        <div class="column">
          <img id="widths" src="tjgwilson.github.io/posterWidths_White.png" alt="FWHM vs. HW10%" style="width:100%;">
          
        </div>
        <div class="column">
          <h1 style="text-align:center;"> Comparison </h1>
          <ul style="padding-top:3em;">
            <li>The figure shows the FWHM vs. half width at 10% maxima (HW10%). The synthetic observations are clipped so that the H⍺ data points lie near the
              observed parameter space.</li></br>
            <li>Synthetic and observed H⍺ lines show a good accord between the measured parameters of Reipurth classification<a href="#reipurth">[4]</a>, Wλ, FWHM, and HW10%.</li></br>
            <li>Synthetic lines for Paβ and Br𝛄 are found to be too narrow and Stark broadening is unable to account for the difference. This suggests another form of broadening needs to be invoked.</li></br>
            <li>Inverse P-Cygni profiles are commonly predicted by the simulations for Paβ and Br𝛄 yet this is not reflected in the observations<a href="#fohla">[5]</a>.</li></br>
          </ul>
        </div>
      </div>
      
      <!---------------- Footer ------------------->
     <footer class="site-footer">
       <p style="padding: 1em 0em 1em; font-weight: bold; text-align: center;">
         This research has made use of the services of the ESO Science Archive Facility.
       </p>

       <div class="row">
          <div class="column3">
            <img src="tjgwilson.github.io/LOGO_ERC-FLAG_EU_.jpg" alt="ERC" style="width: 100%;">
          </div>
          
          <div class="column2">
            <h1 style="text-align:center;">Bibliography</h1>
            <ol style="padding-bottom: 5em;">
              <li>
                <p id="fohla">Folha, D. F. M. & Emerson, J. P. <cite>Near infrared hydrogen lines as diagnostic of accretion and winds in T Tauri stars</cite>. A&A 365, 90–109 (2001).</p>
              </li>
              <li>
                <p id="harries2019">Harries, T. J., Haworth, T. J., Acreman, D., Ali, A. & Douglas, T. <cite>The TORUS radiation transfer code</cite>. Astronomy and Computing 27, 63–95 (2019) </p>
              </li>
              <li>
                <p id="eso">Based on observations collected under ESO programme 084.C-1095(A)</p>
              </li>
              <li>
                <p id="reipurth">Reipurth, B., Pedrosa, A. & Lago, M. T. V. T. <cite>Halpha emission in pre-main sequence stars. I. an atlas of line profiles</cite>. Astronomy and Astrophysics Supplement 120, 229–256 (1996).</p>
              </li>
              <li>
                <p id="fohla">Folha, D. F. M. & Emerson, J. P. (2001).</p>
              </li>
            </ol>
          </div>
       </div>
      </footer>
    </main>
    
    <script>
    // When the user scrolls down 50px from the top of the document, resize the header's font size
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 70 || document.documentElement.scrollTop > 70) {
        document.getElementById("header").style.fontSize = "0.4rem";
      } else {
        document.getElementById("header").style.fontSize = "1.3rem";
      }
    }
      
      
   function showText(id) {
    var x = document.getElementById(id);
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
   function showHideImg(id1,id2) {
    var x1 = document.getElementById(id1);
     var x2 = document.getElementById(id2);
    if (x1.style.display === "block") {
      x1.style.display = "none";
      x2.style.display = "block";
    } else {
      x1.style.display = "block";
      x2.style.display = "none";
    }
  }
      
   function hideText(id) {
    var x1 = document.getElementById(id);
    if (x1.style.display != "none") {
      x1.style.display = "none";
    } 
  }
    
   function imgZoom(id){
     var x = document.getElementById(id);
     if (x.style.transform === "scale(3)") {
        x.style.transform = "scale(1)";
     } else {
       x.style.transform = "scale(3)";
    }
   }
   function imgZoomOut(id){
     var x = document.getElementById(id);
     if (x.style.transform != "scale(1)") {
        x.style.transform = "scale(1)";
     } 
   }
  function change(id){
      var el = document.getElementById(id);
   if (el.firstChild.data == "PROFILES") 
   {
       el.firstChild.data = "CLASS";
   }
   else 
   {
     el.firstChild.data = "PROFILES";
   }
}
      
     
    </script>
  </body>
</html>
