<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <style> 
        .hover_zoom { 
            width: 100%;
            height: 100%;
            overflow: hidden; 
            margin: 0 auto; 
/*           margin: 0; */
        } 
      
        .hover_zoom img { 
            transition: 1.0s all ease-in-out;
        } 
      
        .hover_zoom:hover img { 
            transform: scale(3.0); 
        } 
    </style> 
    
   
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  
  
  
  
  <body>
    <div id="header">
      <h1> The Enigma of Hydrogen Emission in T Tauri stars </h1>
      
      </div>

    <main id="content" class="main-content" role="main">
      
      <div class="row">
        <div class="column2" style="width:70%">
          <div class="ex1" style="text-align:center">
            <h1>Summery</h1>
            <ul>
              <li>Accretion and outflows in CTTS control the stellar formation, but the underlying physics of these systems is poorly constrained.
              The use of high-resolution spectra offers a powerful diagnostic probe for understanding these processes.</li>
              <li>We present our first parameter study, which investigates synthetic and observed hydrogen emission.</li>
            </ul>
            <div style="text-align: center; padding-top: 3em;">
              <a href="tjgwilson.github.io/coolStars_draft2.pdf"><button class="btn btn-1 btn-1c">PDF Poster</button></a>
            </div>
          </div>
        </div>
        <div class="column3" style="width:30%">
          <h1> T. J. G. Wilson</h1>
          <p> S. Matt, T. J. Harries and G. J. Herczeg</p>
        </div>
      </div>
      
      <div class="row" style="padding-top: 5rem;">
        <div class="column">
          <div class="hover_zoom">
            <img src="tjgwilson.github.io/visit_lightBackgroundDisk0002.png" alt="Snow" style="width:100%">
          </div>
        </div>                                                                                    
        <div class="column">
          <h1 style="text-align:center;"> Radiative Transfer Model </h1>
          <h2> 
            Non-LTE radiative transfer simulations computed using TORUS<a href="#harries2019">[1]</a>
          </h2>
        </div>
      </div>
      
      <div class="ex1"></div> 
                                                                                             
      <div class="row" style="padding-top: 5rem;">
        <div class="column">
          <h1 style="text-align:center;"> Observations </h1>
          <ul>
          <li>The figure shows the line profiles of 29 young, low-mass stellar targets (columns) from the ESO Archive,<a href="#eso">[2]</a>
            selected to have a broad mass accretion range.</li>
            <li>High resolution spectra from VLT’s X-Shooter gives near simultaneous observations of H⍺ (top), Paβ (middle), and Br𝛾 (bottom).</li> 
            <li>A strong correlation of shape and intensity is seen between the infrared lines, but not between H⍺ and the infrared observations</li>
          </ul>
        </div>
        <div class="column">
        </div>
      </div>
                           
      <div class="ex1"></div> 
                      
       <div class="row" style="padding-top: 5rem;">
        <div class="column">
        </div>
        <div class="column">
          <h1 style="text-align:center;"> Comparison </h1>
          <ul>
            <li>The figure shows the FWHM vs. half width at 10% maxima (HWZM). The synthetic observations are clipped so
              that the H⍺ data points lie near the observed parameter space. </li>
            <li>Synthetic and observed H⍺ lines show a good accord between the measured parameters of: Reipurth classification,<a href="#reipurth">[3]</a> Wλ, FWHM and HWZM.</li>
            <li>Synthetic lines for Paβ and Br𝛾 are found to be too narrow and Stark broadening is unable to account for the difference.</li>
            <li>Inverse P-Cygni profiles are commonly predicted by the simulations for Paβ and Br𝛾 yet this is not reflected in the observations.<a href="#fohla">[4]</a></li>
          </ul>
        </div>
      </div>
      
      
      
      <footer class="site-footer">
        <h1 style="text-align:center;">Bibliography</h1>
      <ol>
        <li>
          <p id="harries2019">Harries, T. J., Haworth, T. J., Acreman, D., Ali, A. & Douglas, T. <cite>The TORUS radiation transfer code</cite>. Astronomy and Computing 27, 63–95 (2019) </p>
        </li>
        <li>
          <p id="eso">Based on observations collected under ESO programme 084.C-1095(A)</p>
        </li>
        <li>
          <p id="reipurth">1.	Reipurth, B., Pedrosa, A., Astrophysics, M. L. A. A.1996. <cite>Halpha emission in pre-main sequence stars. I. an atlas of line profiles</cite>. adsabs.harvard.edu</p>
        </li>
        <li>
          <p id="fohla">1.	Folha, D. F. M. & Emerson, J. P. <cite>Near infrared hydrogen lines as diagnostic of accretion and winds in T Tauri stars</cite>. A&A 365, 90–109 (2001).</p>
        </li>
      </ol>
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
    
    <script>
    // When the user scrolls down 50px from the top of the document, resize the header's font size
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 70 || document.documentElement.scrollTop > 70) {
        document.getElementById("header").style.fontSize = "0.4rem";
      } else {
        document.getElementById("header").style.fontSize = "1.3rem";
      }
    }
    </script>
  </body>
</html>
